<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hej <%= @user.name %>!</h3>
    <p>
      Ett ärende som du har kommenterat på har fått en ny kommentar av anonym.
    </p>
    <p>Klicka <%= link_to 'här', ticket_path(ticket.token) %> för att komma direkt till ärendet.
  </body>
</html>