<% provide(:title, "Rapport | Användare") %>

<div class="row">
  <h1>Aktiva användare</h1>
  <% if current_user.admin? %>
    <br>
    <%= link_to 'Lägg till ny användare', new_user_invitation_path, class: "btn btn-primary btn-large"%>
    <br>
    <br>
  <% end %>
</div>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Namn</th>
        <th>Email</th>
        <th>Roll</th>
        <th>Admin</th>
      </tr>
    </thead>

    <tbody>
      <% @users.where(deactivated: false).each do |u| %>
        <tr>
          <% if u.name.nil? %>
            <td>Användaren har ej satt ett namn</td>
          <% else %>
            <td><%= u.name %></td>
          <% end %>
          <td><%= u.email %></td>
          <% if u.role.nil? %>
            <td>Användaren har ej satt en roll</td>
          <% else %>
            <td><%= u.role %></td>
          <% end %>
          <% if u.admin? %>
            <td>Ja</td>
          <% else %>
            <td>Nej</td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>