<% provide(:title, "Rapport | Nytt ärende") %>

<div class="ticket-container">
  <h1>Nytt Ärende</h1>
  <br />
  <%= render 'form', ticket: @ticket %>
  <br />
  <%= link_to 'Tillbaka', root_path %>
</div>