/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms 
 *= require bootstrap-datepicker
 *= require select2
 *= require select2-bootstrap
 */



@font-face {
  font-family: 'bebas-neue';
  src: asset-url('bebas-neue/BebasNeue-Regular.ttf') format('truetype');
  src: asset-url('bebas-neue/BebasNeue-Regular.otf') format('truetype');
  /*src: url('SourceSansPro/SourceSansPro-Bold.ttf') format('truetype');
  src: url('SourceSansPro/SourceSansPro-Italic.ttf') format('truetype');*/
}

@font-face {
  font-family: 'minion-pro';
  src: asset-url('minion-pro/MinionProRegular.ttf') format('truetype');
  /*src: url('minion-pro/Minion Pro Bold.ttf') format('truetype');*/
  /*src: url('minion-pro/Minion Pro Italic.ttf') format('truetype');*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
strong, b {
  font-weight: bold;
}
em, i {
  font-style: italic;
}
a img {
  border: none;
}
/* END RESET*/

/* GLOBAL STYLES */
html {
  background-color: rgba(245, 245, 245, 1);
}


body {
  font-family: minion-pro, helvetica, arial, sans;
  min-height: 100vh;
  background-color: rgba(245, 245, 245, 1);
}

h1 {
  font-family: bebas-neue, helvetica, sans;
  font-weight: 100;
  font-size: 3em;
  margin-top: 0;
}

h2,h3,h4,h5,h6 {
  font-family: minion-pro, helvetica, sans;
  font-weight: 100;
}

.content-container {
  display: flex;
  flex: 1 1 auto;
  padding-top: 10vh;
  width: 100%;
}

p {
  line-height: 1.5;
  margin: 0.75em 0;
  font-size: 1.5em;
 
}
h2 {
  font-size: 2em;
}


h4 {
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}

table {
  font-size: 1.2em;
  td {
   font-size: 1.2em;
  }
}

.control-label {
  font-size: 16px;
}

label {
  font-size: 16px;
}

.footer {
  background-color: #ec8b4b;
  padding: 5vh 0 5vh;
  text-align: center;
  color: #FFF;
}


a:hover {
  text-decoration: none;
  color: #EC6A41 !important;
}

@media (max-width: 400px) {
  #logo {
     img {
       max-width: 240px;
     }
  }
}

@media (min-width: 768px) {
  .lead {
    width: 70%;
    margin: auto;
  } 
}

@media (max-width: 768px) {
  #mobile-footer {
    text-align: center;
  }
}

.navbar-vg {
  background-color: #fcd947;
  border-color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
  color: rgba(63,60,29,.69);
}

.check-ticket {
  display: none;
}

.check-hover {
  cursor: pointer;
}

.check-hover:hover {
  color: #EC6A41 !important;
}

#ticket-date {
  background-color: #fff;
}

/*flash*/
.alert-error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-alert {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
	text-align: left;
}

.alert-success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.alert-notice {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
	text-align: left;
}

.flash-messages {
  font-size: 1.5em;
}