<footer class="footer">
  <div class="container">
    <div class="col-sm-4 pull-center">
      <div class="row" style="text-align: left">
        <div id="mobile-footer">
          <p><strong>Kontaktuppgifter</strong></p>
          <p>Tel: 046 - 14 59 04</p>
          <p>Email: nationen@vgnation.se</p>
          <p><strong>Västgöta Nation</strong></p>
          <p>Tornavägen 17-19</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 pull-center">
      <%= link_to image_tag('vgvapen-circle.png', width: '250'), root_path, id: 'vapen-circle' %>
    </div> 
    <div class="col-sm-4 pull-center">
      <div class="row" style="text-align: right">
        <div id="mobile-footer">
          <p>Code on <strong><a style="color: #FFF" href="https://github.com/AndreasOhlsson/rapport">Github</a></strong></p>
        </div>
      </div>
    </div>
  </div>
</footer>